// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  }

body > .grid {
    height: 100%;
  }

.image {
    margin-top: -100px;
  }

.column {
    max-width: 450px;
}

div .ui checkbox{
    padding: 2em;
}

div .actions{
    padding: 2em;
}

#checkbox{
    padding-top: 2em;
}